<% include ../partials/header %>

<h4>User Login</h4>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>

<% include ../partials/footer %>